.Activity .activity-area {
    margin: 20px 110px;
}

.Activity .activity-area .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Activity .activity-area .title h1 {
    font-size: 38px;
}

.Activity .activity-area .title h3 {
    font-size: 30px;
}

.Activity .activity-area .title a {
    font-family: "Varela", serif;
    font-size: 17px;
    border-radius: 4px;
    padding: 8px 14px;
    border: 1px solid rgb(203, 203, 203);
    color: #2c4147;
    margin-left: 18px;
    transition: all 0.2s ease 0s;
}

.Activity .activity-area .title .addLinks {
    display: flex;
    flex-wrap: wrap;
}

.Activity .activity-area .title .addLinks .exercise {
    background: linear-gradient(64.7deg, #fff8ae, #fffdec);
}

.Activity .activity-area .title .addLinks .nutrition {
    background: linear-gradient(64.7deg, #FFAFBD, #ffc3a0);
}

.Activity .activity-area .title .addLinks .sleep {
    background: linear-gradient(64.7deg, #65c7f7, #b2fefa);
}

.Activity .activity-area .title .addLinks a:hover {
    border: 1px solid;
    border-radius: 12px;
}

.Activity .overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Activity .sumCard {
    margin: 20px;
    padding: 23px;
    width: 300px;
    min-height: 180px;
    display: grid;
    grid-template-rows: 5px 5px 8px 8px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    font-family: Hind Vadodara, sans-serif;
}

.Activity .sumCard.exercise, .Activity .sumCard2.exercise{
    background: linear-gradient(64.7deg, #fff8ae, #fffdec);
}

.Activity .sumCard.nutrition, .Activity .sumCard2.nutrition {
    background: linear-gradient(64.7deg, #FFAFBD, #ffc3a0);
}

.Activity .sumCard.sleep, .Activity .sumCard2.sleep {
    /* background: linear-gradient(64.7deg, #0ed2f7, #b2fefa); */
    background: linear-gradient(64.7deg, #65c7f7, #b2fefa);
}

.Activity .sumCard .valueName {
    grid-row: 1;
    font-size: 20px;
}

.Activity .sumCard .value {
    grid-row: 4/5;
    font-size: 45px;
}

.Activity .sumCard2 {
    margin: 20px;
    margin-top: 0;
    padding: 5px;
    width: 300px;
    height: 120px;
    display: grid;
    grid-template-rows: 5px 5px 15px 8px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    font-family: Hind Vadodara, sans-serif;
}

.Activity .sumCard2 .valueName {
    grid-row: 2/3;
    font-size: 19px;
}

.Activity .sumCard2 .value {
    grid-row: 4/5;
    font-size: 30px;
}

.Activity .warning {
    margin-top: 30px;
    color: red;
}