.Navbar nav {
    height: 90px;
    padding: 0px 80px;
    margin-top: 25px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Varela", serif;
    /* font-family: 'Hind Vadodara', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
}

.Navbar .logo {
    display: flex;
    align-items: center;
    color: #2c4147;
}

.Navbar .logo img {
    margin: 0px 20px;
    height: 60px;
    border-radius: 8px;
}

.Navbar .logo h2 {
    font-size: 24px;
}

.Navbar .nav {
    display: flex;
    align-items: center;
}

.Navbar .nav a {
    margin: 0px 20px;
    color: #2c4147;
}

.Navbar .nav a:hover {
    text-decoration: underline;
}

.Navbar .nav .register-link {
    font-family: "Varela", serif;
    font-size: 15px;
    border-radius: 4px;
    padding: 8px 14px;
    border: 1px solid #00bdaa;
    background: radial-gradient(#ffff, #83ffd4cf);
    transition: all 0.2s ease 0s;
}

.Navbar .nav .login-link {
    font-family: "Varela", serif;
    font-size: 15px;
    border-radius: 4px;
    padding: 8px 14px;
    border: 1px solid #00bdaa;
    transition: all 0.2s ease 0s;
}

.Navbar .nav .logout {
    font-family: "Varela", serif;
    padding: 8px 14px;
    margin: 0px 20px;
    border: 1px solid #00bdaa;
    border-radius: 4px;
    font-size: 15px;
    color: #2c4147;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease 0s;
}

.Navbar .nav .login-link:hover {
    text-decoration: none;
    background: radial-gradient(#ffff, #83ffd4cf);
    border-radius: 12px;
}

.Navbar .nav .register-link:hover {
    background: #baffe7;
    border-radius: 12px;
    text-decoration: none;
}

.Navbar .nav .logout:hover {
    background: radial-gradient(#ffff, #83ffd4cf);
    border-radius: 12px;
}

.Activity .activity-area .title .addLinks a:hover {
    border: 1px solid;
    border-radius: 12px;
}